.actorsLayout {
    background-color: #e5e5f7;
    opacity: 0.7;
    background-image: repeating-radial-gradient(
            circle at 0 0,
            transparent 0,
            #e5e5f7 40px
        ),
        repeating-linear-gradient(#444cf755, #444cf7);
    margin-top: 5rem;
}

.actorsLayout > h1 {
    padding-block: 3rem;
}

.actorsLayout > table {
    background-color: white;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
