.actorsLayout {
    background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
    margin-top: 5rem;
    min-height: 100vh;
    opacity: 0.5;
    padding: 25px;
}

.actorsLayout > table {
    background-color: white;
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}
