.AddNewLayout {
    background-image: url("../assets/addNewBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 3rem;
}
.addNewHeader {
    border: 3px solid black;
    color: #274c77;
    font-size: 2.5rem;
    margin: auto;
    padding: 1rem 5rem;
    text-shadow: -8px 3px 0 #a3cef1;
}
.form {
    align-items: center;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: center;
    margin: auto;
    padding: 2rem 5rem;
    width: max-content;
}
.firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
    width: 75% !important;
}
.input {
    background-color: white;
    height: 50px;
}
.actors {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
    width: 75% !important;
}

.firstRow > div {
    margin-right: 25px;
}

.rating {
    text-align: center;
}

@media screen and (max-width: 414px) {
    .AddNewLayout {
        height: max-content;
        margin-top: 5rem;
    }
    .form {
        align-items: center;
        background-color: white;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        height: max-content;
        justify-content: center;
        margin: 0 auto;
        margin-top: 25px;
        width: 80%;
    }
    .firstRow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .actors {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .addNewHeader {
        border: 3px solid black;
        color: #274c77;
        font-size: 1rem;
        margin: 0 auto;
        text-shadow: -8px 4px 0 #a3cef1;
    }
}
