table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th {
    background-color: #f7f7f7;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

h1 {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: white;
}

.deleteMovie {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.moviesLayout {
    opacity: 0.5;
    background: #355c7d; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #c06c84,
        #6c5b7b,
        #355c7d
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #c06c84,
        #6c5b7b,
        #355c7d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 5rem;
    min-height: 100vh;
    padding: 25px;
}

.tab {
    font-weight: bold;
    color: white;
}
