.movies {
    background-color: #e5e5f7;
    opacity: 0.7;
    background-image: repeating-radial-gradient(
            circle at 0 0,
            transparent 0,
            #e5e5f7 40px
        ),
        repeating-linear-gradient(#444cf755, #444cf7);
    margin-top: 5rem;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th {
    background-color: #f7f7f7;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.deleteMovie {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.moviesContainer {
    padding: 100px;
    margin-top: 2rem;
}

.tab {
    font-weight: bold;
    color: white;
}
