.navbar {
    align-items: center;
    background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
    border-bottom: 2px solid white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    color: #fff;
    display: flex;
    height: 5rem;
    justify-content: space-around;
    left: 0;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar > span:hover {
    cursor: pointer;
}

.nav-item {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}
