@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --clr-1: #3a0ca3;
    --clr-2: #4361ee;
    --clr-3: #4cc9f0;
    --clr-4: #7209b7;
    --clr-5: #f72585;
}

body {
    background-image: url("../assets/addNewBg.jpg");
}

.addNewLayout {
    background: linear-gradient(to right, #c06c84, #6c5b7b, #355c7d);
    opacity: 0.9;
}

.card {
    height: 60vh;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 20vh 25%;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-3),
        var(--clr-4),
        var(--clr-5),
        var(--clr-4),
        var(--clr-3)
    );
    border-radius: inherit;
    animation: rotation 5s linear infinite;
}

.card::after {
    filter: blur(3.5rem);
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}
.addNewHeader {
    color: var(--clr-4);
    font-size: 2.5rem;
    margin: auto;
    padding: 1rem;
}
.firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
    width: 75% !important;
}
.input {
    height: 30px;
    margin-bottom: 25px !important;
}
.ratingLegend {
    display: flex;
    justify-content: center;
    color: black;
}
.actors {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
    width: 75% !important;
}

.firstRow > div {
    margin-right: 25px;
}

.rating {
    text-align: center;
}

.custom-btn {
    width: 130px;
    height: 50px;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}
.btn-add {
    width: 130px;
    height: 50px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #6c5b7b;
    margin: 5%;
}
.btn-add:hover {
    color: #6c5b7b;
    background: transparent;
    box-shadow: none;
}
.btn-add:before,
.btn-add:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #6c5b7b;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}
.btn-add:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
.btn-add:hover:before,
.btn-add:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
@media only screen and (min-width: 1280px) and (min-height: 720px) {
    body {
        display: block;
    }
}
